<section id="contact">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Contato</h2>
            <hr class="primary"/>
            <p>Você está pronto para iniciar um projeto? Contate-nos!</p>
        </div>
    <div class="col-lg-2 col-lg-offset-2 text-center">
        <a href="https://www.instagram.com/vidroinox/">
            <i class="fa fa-instagram" data-wow-delay=".1s" style="color: deeppink;";"></i>
        </a>
    </div>
    <div class="col-lg-1 col-lg-offset-1 text-center">
        <a href="http://vidroinox@yahoo.com.br ">
        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="color: red;" ></i>
         
        </a>
    </div>
   
    <div class="col-lg-2 col-lg-offset-1 text-center">
        <a href="https://www.facebook.com/profile.php?id=100005893807706">
            <i class="fa fa-facebook-f" data-wow-delay=".1s" style="color: blue;">
            </i>   
        </a>
    </div>

    <div class="col-lg-2 col-lg-offset-1 text-center">
        <a href="https://wa.me/22998627333">
            <i class="fa fa-whatsapp" data-wow-delay=".1s" style="color: green;"></i> 
            <p>(22) 99862-7333</p>
        </a>  
        </div>
    </div>
</div>
    <div class="text-center">
    <!-- <a href="tel:+1-303-499-7111">
        <i class="fa fa-phone" data-wow-delay=".1s" style="color: green;"></i> 
            <p>(22) 2772-3934</p>
        </a>   -->
    </div>
    <div style="text-align: center;">
        <iframe 
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d107931.24217709275!2d-41.852730916887225!3d-22.355252521051927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sbr!4v1590027731615!5m2!1sen!2sbr" width="1200" height="450" frameborder="0" style="border:3;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    
</section>

<footer>
  
    <p class="copyright text-center">
        <a href="https://www.linkedin.com/in/gussouza/">
            Gustavo Souza ©. 
        </a>
    </p>
</footer>
