<section id="contact">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Contato</h2>
            <hr class="primary"/>
            <p>Você está pronto para iniciar um projeto? Contate-nos!</p>
        </div>
    <div class="col-lg-2 col-lg-offset-2 text-center">
        <a href="https://www.instagram.com/vidroinox/">
            <i class="fa fa-instagram" data-wow-delay=".1s" style="color: deeppink;";"></i>
        </a>
    </div>
    <div class="col-lg-1 col-lg-offset-1 text-center">
        <a href="http://vidroinox@yahoo.com.br ">
        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="color: red;" ></i>
         
        </a>
    </div>
   
    <div class="col-lg-2 col-lg-offset-1 text-center">
        <a href="https://www.facebook.com/profile.php?id=100005893807706">
            <i class="fa fa-facebook-f" data-wow-delay=".1s" style="color: blue;">
            </i>   
        </a>
    </div>

    <div class="col-lg-2 col-lg-offset-1 text-center">
        <a href="https://wa.me/22998627333">
            <i class="fa fa-whatsapp" data-wow-delay=".1s" style="color: green;"></i> 
            <p>(22) 99862-7333</p>
        </a>  
        </div>
    </div>
</div>
    <div style="border-color: wheat;  border-style: solid; height: max-content;  width: max-content;   margin: auto;  ">
        <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.342985250981!2d-41.78337618504456!3d-22.340674585302594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x962f042d883315%3A0xbbb0ea26b8bb12fd!2sVidro%20Inox!5e0!3m2!1sen!2sbr!4v1590110011334!5m2!1sen!2sbr" width="500" height="350" frameborder="0" 
         allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
    </div>
    
</section>

<footer>  
    <p class="copyright text-center">
        <a href="https://www.linkedin.com/in/gussouza/">
            Gustavo Souza ©. 
        </a>
    </p>
</footer>
