<header>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <div class="header-content">
    <div class="header-content-inner">
      <h1>VIDRO INOX</h1>
      <hr />
      <!-- <h4> -->
      <!-- Somos uma empresa com mais de 10 anos de mercado, e estamos dispostos a -->
      <!-- resolver o seu problema da melhor maneira possível. -->
      <!-- </h4> -->
      <a href="#about" class="btn btn-primary btn-xl page-scroll"
        >Veja nossos serviços</a
      >
    </div>
  </div>
</header>
