<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/2019/1.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Vidros
              </div>
              <div class="project-name">
                Fachada com pele de vidro
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="" class="portfolio-box">
          <img src="img/portfolio/2019/2.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Vidros
              </div>
              <div class="project-name">
                Fachada da Loja
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/2019/3.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Box
              </div>
              <div class="project-name">
                Fachada de Prédio
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/2019/4.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Vidros
              </div>
              <div class="project-name">
                Fachada Loja Hyundai
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/2019/5.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Vidros
              </div>
              <div class="project-name">
                Chuveiro e sanitário - linha elegância
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/2019/6.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Corrimão
              </div>
              <div class="project-name">
                Aço inox com vidro
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img
            src="img/portfolio/2020/1.png"
            height="200"
            class="img-responsive"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Prédio com fachada de vidro
              </div>
              <div class="project-name">
                Prédio
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img
            src="img/portfolio/2020/3.png"
            height="300"
            class="img-responsive"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Porta
              </div>
              <div class="project-name"></div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img
            src="img/portfolio/2020/7.png"
            height="300"
            class="img-responsive"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Escadaria
              </div>
              <div class="project-name">
                Fachada de vidro
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/2020/10.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Casa
              </div>
              <div class="project-name">
                Casa com fachada de vidro
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/2020/9.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Porta
              </div>
              <div class="project-name"></div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/2020/8.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Casa
              </div>
              <div class="project-name">
                Casa com fachada de vidro
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
